*{
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    background-color: #4D5364;;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.box{
    font-size: 125%;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    border: solid #ffffff 2px;
    padding: 16px 8px;
}